@font-face {
    font-family: roboto;
    src: url(../admin-dashboard/fonts/Roboto/Roboto-Regular.ttf);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: roboto;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        'side header'
        'side main-content';
}

/* HEADING */

.header {
    display: grid;
    grid-area: header;
    grid-template-columns: repeat(1, 4fr);
}

.header-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#search-bar-notification {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 70%;
}

.search-bar > input {
    border-radius: 15px;
    background: rgba(218, 216, 216, 0.4);
    font-size: 16px;
    height: 35px;
    padding-left: 8px;
    width: 65%;
}

.search-bar > img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.notify-logo-name > img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.notify-logo-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 30%;
    font-size: 20px;
}

#handle-greeting-buttons {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.large-logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 70%;
    gap: 20px;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text > h2 {
    margin-top: 0.5rem;
}

.logo-text > p {
    margin-bottom: 0.5rem;
}

.greet-name {
    width: 50%;
    padding-left: 20px;
}

.large-logo > img {
    height: 85px;
    width: 85px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
    width: 30%;
}

.buttons > button {
    color: white;
    background: rgb(63, 142, 233);
    border: none;
    border-radius: 30px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    width: 110px;
    cursor: pointer;
}



/* LEFT SIDEBAR */

.navbar {
    display: grid;
    background: rgb(63, 142, 233);
    grid-template-rows: repeat(1, 150px) repeat(2, 350px);
    grid-area: side;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.item {
    border: 1px solid black;
    padding: 20px;
}


/* MAIN CONTENT SECTION AREA */

.main-content {
    display: grid;
    grid-area: main-content;
    overflow-y: auto;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        'project announcement'
        'project trending';
    min-width: 1000px;
    padding: 2rem;
    gap: 3rem;
    background-color: lightgrey;
}

/* PROJECT SECTION */

.project-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(220px, 1fr));
    grid-auto-rows: 220px;
    gap: 2rem 2rem;
}

.project-view {
    grid-area: project;
}

.project-view > h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.project {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    border-radius: 10px;
    background-color: white;
}

.project-color-highlight {
    height: 100%;
    width: 2em;
    background: rgb(250, 220, 52)
}

.project-text {
    display: flex;
    flex-direction: column;
    padding: 25px 10px 0 15px;
    height: 65%;
    overflow: hidden;
}

.project-text > h3 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.project-text > p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: rgba(95, 86, 86, 1);
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ANNOUNCEMENTS SECTION */

.side-card {
    display: flex;
    flex-direction: column;
    text-align: start;
    border-radius: 15px;
    padding: 1rem;
    background-color: white;
    margin: 0;
}

.side-content-announcement {
    display: grid;
    grid-area: announcement;
}

.announcement-item > h5 {
    font-size: 0.9rem;
    margin-bottom: 0.5em;
    margin-top: 0;
}

.announcement-item > p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: rgba(95, 86, 86, 1);
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.side-content-announcement > h3 {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.announcement-item {
    width: 35ch;
    padding: 1rem;
    list-style: none;
    cursor: pointer;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.announcement-item:first-child {
    padding-top: 0;
}

.announcement-item:last-child {
    padding-bottom: 0;
}

/* TRENDING SECTION */

.side-content-trending {
    display: grid;
    grid-area: trending;
    max-height: 260px;
}

.side-content-trending > h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.trending-item:first-child {
    padding-top: 0;
}

.trending-item {
   display: flex;
   align-items: center;
   gap: 15px;
   cursor: pointer;
}

.trending-item > img {
    height: 50px;
    width: 50px;
}

.trending-user-info {
   display: flex;
   flex-direction: column;
}

.trending-user-info > p {
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(95, 86, 86, 1);
    font-size: 14px;
}

.trending-user-info > h5 {
    margin-bottom: 0.5rem;
    font-size: 15px;
}

.trending-item:last-child {
    margin-bottom: 1.1rem;
}
